.Header {
    height: 34vw;
    margin: 30px auto;
    background: url('/assets/chuteirasronaldo.png') no-repeat center center;
    background-size: cover; /* Faz com que a imagem cubra a área da div */
}
